@import url('https://fonts.googleapis.com/css?family=Righteous');

/* Desktop Formatting */
body {
    font-family: 'Righteous', cursive;
    font-size: 1em;
    line-height: 1.5em;
    background-color: white;
    text-align: center;

}

h2 {
    font-family: 'Righteous', cursive;
    color : #88958D;
    font-size: 30px;
    line-height : 1.25em;
}


/* Mobile Formatting */
@media only screen and (max-width: 768px) {
    h1 {
        font-size: : 1em;
        line-height: 1.5em;
    }
}

.banner {
  position: relative;
  text-align: center;
  vertical-align:middle;
}

.banner img {
  /* position: absolute; */
  align: center;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  opacity: 0.5;

}

.banner .textb {
  align:center;
  display: inline-block;
  position: absolute;
  font-size: 24px;
  background-color: rgba(0,0,0,0.4);
  color: white;
  text-align:center;
  padding-left: 15px;
  padding-right: 15px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.boxy {
    align:center;
    display: inline-block;
    position: relative;
    font-size: 20px;
    background-color: #88958D;
    color: white;
    text-align:center;
    padding-top: 50px;
    padding-bottom: 50px;
    width: 100%;
    display:block;
    margin-top: 22px;
    text-decoration: none;
}

.boxy:hover {
    cursor: pointer;
    background-color: #2f4f4f;
    transition: background-color 0.3s ease-in-out;
    -moz-transition: background-color 0.3s ease-in-out;
    -webkit-transition: background-color 0.3s ease-in-out;
}

.text-block {
    align:center;
    display: inline-block;
    position: relative;
    font-size: 16px;
    background-color: #88958D;
    color: white;
    text-align:center;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 7px;
    padding-bottom: 7px;
    width: 60%;
    display:block;
    margin:auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 10px;
  margin-left: 100px;
  margin-right: 100px;

}

/* Create two equal columns that sits next to each other */
.column {

  flex: 40%;
  max-width: 50%;
  padding: 0 10px;
}

.column img {
  margin-top: 20px;
  width: 100%;
  vertical-align: middle;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 1000px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}
