@import url('https://fonts.googleapis.com/css?family=Righteous');

/* Desktop Formatting */
body {
    font-family: 'Righteous', cursive;
    font-size: 1em;
    line-height: 1.5em;
}

h2 {
    text-align: center;
    font-family: 'Righteous', cursive;
    color : #88958D;
    font-size: 40px;
    line-height : 1.25em;
}

.image-placeholder {
    text-align: center;
}

.button-with-text {
    text-align: center;
}

.button-with-text p {
    color: #2f4f4f;
}

button {
    display: inline-block;
    border-radius: 4px;
    background: #88958D;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-family: 'Righteous', cursive;
    font-size: 18px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

button:hover {
    cursor: pointer;
    background-color: #2f4f4f;
}

button span {
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 10px;
  right: -20px;
  transition: 0.5s;
}

button:hover span {
  padding-right: 25px;
}

button:hover span:after {
  opacity: 1;
  right: 0;
}
