@import url('https://fonts.googleapis.com/css?family=Righteous');

/* Desktop Formatting */
body {
    font-family: 'Righteous', cursive;
    font-size: 1em;
    line-height: 1.5em;
    background-color: white;
    text-align: center;

}

h2 {
    font-family: 'Righteous', cursive;
    color : #88958D;
    font-size: 30px;
    line-height : 1.25em;
}



/* Mobile Formatting */
@media only screen and (max-width: 768px) {
    h1 {
        font-size: : 1em;
        line-height: 1.5em;
    }
}

.banner {
  position: relative;
  text-align: center;
  vertical-align:middle;
}

.banner img {
  /* position: absolute; */
  align: center;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  opacity: 0.5;

}

.banner .textb {
  align:center;
  display: inline-block;
  position: absolute;
  font-size: 24px;
  background-color: rgba(0,0,0,0.4);
  color: white;
  text-align:center;
  padding-left: 15px;
  padding-right: 15px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.row {
  /* display: flex;
  flex-wrap: wrap;
  padding: 0 2px;
  position: absolute;
  text-align: center;
  vertical-align:middle;
  align:center; */

  display: flex;
  flex-wrap: wrap;
  padding: 0 10px;
  margin-left: 100px;
  margin-right: 100px;

}

/* Create four equal columns that sits next to each other */
.column {
  /* flex: 40%;
  max-width: 20%;
  padding: 0 2px;
  text-align: center;
  vertical-align:middle;
  align:center;
  position: relative;
  display:block;
  margin:auto; */

  flex: 40%;
  max-width: 23%;
  padding: 0 10px;
  display:block;
  margin:auto;

}

.column img {
  /* margin-top: 1px;
  width: 100%;
  vertical-align: middle;
  text-align: center; */

  margin-top: 20px;
  width: 100%;
  vertical-align: middle;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 1000px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 1000px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}



/* textboxes on photos */


.container {
    position: relative;
}

/* Bottom right text */
.text-block {

    align:center;
    display: inline-block;
    position: absolute;
    font-size: 12px;
    background-color: rgba(0,0,0,0.4);
    color: white;
    text-align:center;
    padding-left: 15px;
    padding-right: 15px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
